<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673774181218-ga24nlo3jpiloq584sv7smhjtbmma5f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673774181218-ga24nlo3jpiloq584sv7smhjtbmma5f7</string>
	<key>API_KEY</key>
	<string>AIzaSyAqiUkAZDEcxmhbK8cH-Dd4LqQ-Flq3Kw4</string>
	<key>GCM_SENDER_ID</key>
	<string>673774181218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.uk.flutterly.jyuk</string>
	<key>PROJECT_ID</key>
	<string>jyuk-2020</string>
	<key>STORAGE_BUCKET</key>
	<string>jyuk-2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673774181218:ios:948e61239b84d702a12a3b</string>
</dict>
</plist>